- const arrNav = ['Taller de emprendedores', 'Workshops', 'Expositores'];
include ./includes/card-mixin

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(href="https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap", rel="stylesheet")
    body
        header.main-header
            .main-header__block.l-container
                img(src="https://raw.githubusercontent.com/richirrim/clone-edcamp/38c29f8aef339a482bd1ce8582169eea43d1f65b/dev/images/logo.svg", alt="").main-logo
                .icon-menu#icon-menu: .icon-menu__bar
                nav.main-menu__nav#main-menu__nav
                    ul.main-menu__ul
                        each item in arrNav
                            li.main-menu__item: a(href="#").main-menu__link= item
        .main-banner
            img.main-banner__hero-image(src="https://raw.githubusercontent.com/richirrim/clone-edcamp/master/dev/images/banner-1.jpg" alt="Soy el banner")
            .main-banner__content.l-container
                img(class="main-banner__logo" src="https://raw.githubusercontent.com/richirrim/clone-edcamp/38c29f8aef339a482bd1ce8582169eea43d1f65b/dev/images/edcamp-logo.svg" alt="EDcamp logo")
                h1.main-banner__title Tecnología, networking y empredimiento en Lima
                p.main-banner__description Lorem ipsum dolor sit amet consectetur adipisicing elit.
        main.main
            section.l-section.l-container 
                p.m-50.center-block Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt voluptas earum fugiat illum cumque soluta similique laboriosam velit veniam, ipsa vitae culpa aliquid ut porro quia temporibus maxime. Doloremque, perferendis.
            section.l-section.l-section--diagonal
                .l-container
                    h2.center-block.event Eventos
                    .center-block.cards-grid
                        +card(
                            {
                                image: 'https://richirrim.github.io/clone-edcamp/images/tde.jpg',
                                alt:'Poster taller de emprededores'    
                            },
                            {
                                title: 'Taller de emprendedores',
                                subtitle: 'Viernes 31 de agosto (2pm - 8pm)',
                                description: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus dicta tenetur assumenda cupiditate, repellat dolores? Consectetur sed voluptas praesentium.'
                            }
                        )
                        +card(
                            {
                                image: 'https://richirrim.github.io/clone-edcamp/images/workshops.jpg',
                                alt:'Poster taller de Workshops'    
                            },
                            {
                                title: 'Workshops',
                                subtitle: 'sabado 32 de agosto (2pm - 8pm)',
                                description: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus dicta tenetur assumenda cupiditate, repellat dolores? Consectetur sed voluptas praesentium.'
                            }
                        )
        .main-footer
            .l-container