*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
img {
    display: block;
    // width: 100%;
    max-width: 100%;
    height: auto;
}

ul,li,a{
    text-decoration: none;
    list-style: none;
}

body {
    font-size: var(--body-font-size);
    color: var(--text-color);
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a { 
    color: var(--text-color);
}
h1 { font-size: var(--h1-font-size); }
h2 { font-size: var(--h2-font-size); }
h3 { font-size: var(--h3-font-size); }