.l-container{
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
@for $i from 1 through 20 {
    .s-#{$i * 5}{
        width: #{$i * 5%};
    }
}

@include from(medium){
    @for $i from 1 through 20 {
        .m-#{$i * 5}{
            width: #{$i * 5%};
        }
    }

}
.center-block{
    text-align: center;
    margin: auto;
    &.event{
        margin-bottom: 1rem;
    }
}
.l-section {
    margin-bottom: 2rem;
    @include from(medium) {
        margin-bottom: 4rem;
    }
    
}
.l-section--diagonal{
    position: relative;
    margin-bottom: 5rem;
    &:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color2);
        z-index: var(--z-back);
        transform: skewY(3deg) scaleY(1.04);
        @include from(medium) {
            transform: skewY(1.5deg) scaleY(1.15);
        }
    }
    @include from(medium){
        margin-bottom: 10rem;
    }
}
.l-section:nth-child(2){
    padding-top: 1rem;
    padding-top: 1rem;
}