.main-banner {
    position: relative;
    z-index: var(--z-normal);
    padding: 5rem 0 6rem;
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
    margin-top: 4rem;
    &__hero-image {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__content {
        position: relative; // Pone por ensima el contenido.
    }
    &__logo {
        display: block;
        margin: 0 auto .5rem;
        height: 6rem;
    }
    &__title {}
    &__description {
        margin-top: 0;
        margin-bottom: 0;
    }
}